@media screen {
    img {
        width: 100%;
    }

    p {
        font-family: "Work Sans", sans-serif;
        font-weight: 300;
        text-align: center;
    }

    .cover {
        padding: 0px;
    }

    .cover-image {
        position: relative;
        text-align: center;
    }

    .cover-image img {
        max-width: 100%;
        height: auto;
    }

    .cover-text {
        position: absolute;
        top: 30%;
        left: 60%;
        color: white;
        font-family: "Dancing Script", cursive;
    }

    .cover-text h4 {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    #opening-text {
        text-align: center;
        padding-bottom: 60px;
        font-family: "Work Sans", sans-serif;
    }

    #first-large-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-top: 50px;
    }

    #hand-brush {
        padding-top: 50px;
        padding-bottom: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }

    #jackie-desk {
        padding-top: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-bottom: 50px;
    }

    #statistical-infographic {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    #first-quote {
        text-align: center;
        padding-bottom: 10px;
        padding-top: 50px;
    }

    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .row::after {
        content: "";
        display: table;
        clear: both;
    }

    #big-crowd {
        padding-top: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-bottom: 50px;
    }

    #impact h2 {
        font-family: "Work Sans", sans-serif;
        font-weight: 300;
        text-align: center;
        font-size: 100px;
        padding-top: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-bottom: 50px;
    }

    #line {
        padding-top: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-bottom: 50px;
    }

    #rachel {
        padding-top: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-bottom: 50px;
    }

    #jackie-day {
        padding-top: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-bottom: 50px;
    }

    #final-words p {
        font-family: "Work Sans", sans-serif;
        font-weight: 300;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    #brush {
        padding-top: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-bottom: 50px;
    }

    #quote-text h2 {
        font-family: "Dancing Script", cursive;
        font-weight: 300;
        text-align: center;
        font-size: 150px;
        padding-top: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-bottom: 50px;
    }

    #quote-text h3 {
        font-family: "Dancing Script", cursive;
        font-weight: 300;
        text-align: center;
        font-size: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-bottom: 10px;
    }

    #quote-text h4 {
        font-family: "Work Sans", sans-serif;
        font-weight: 300;
        text-align: center;
        font-size: 18px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-bottom: 50px;
        padding-top: 10px;
    }

    #closing i {
        font-size: 20px;
        font-family: "Work Sans", sans-serif;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-bottom: 10px;
    }

    #first-quote h2 {
        font-family: "Dancing Script", cursive;
        font-weight: 300;
        text-align: center;
        font-size: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-bottom: 50px;
        padding-top: 10px;
    }

    h6 {
        font-family: "Work Sans", sans-serif;
        font-weight: 300;
        font-size: 15px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

@media (min-width: 991px) {
    .content {
        padding-left: 10%;
        padding-right: 10%;
    }

    h1 {
        font-size: 80px;
    }
}
