.cover-image {
    position: relative;
    text-align: center;
}

.cover-image img {
    max-width: 100%;
    height: auto;
}

.cover-text {
    position: absolute;
    top: 0;
    color: black;
    padding: 20px;
}

.cover-text h4 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
}

#opening-text {
    text-align: center;
}

#hand-brush {
    padding-top: 50px;
    padding-bottom: 50px;
}

#jackie-desk {
    padding-top: 60px;
}

#statistical-infographic{
    padding-top: 70px;
    padding-bottom: 70px;
}