@media screen{
    body {
        background-color: #99b2dd;
        text-align: center;
    }

    button {
        background-color: #0b132b;
        color: #bebfc5;
        width: 200px;
        font-family: "Playfair Display", serif;
        text-transform: uppercase;
        padding: 10px;
        margin-top: 50px;
        border: none;
        border-radius: 20px;
    }

    button:hover {
        background-color: #3a506b;
    }

    h1 {
        font-family: "Playfair Display", serif;
    }

    h2 {
        font-family: "Playfair Display", serif;
    }
}
