@media screen {
    body {
        background-color: #99b2dd;
    }

    button {
        background-color: #0b132b;
        color: #bebfc5;
        width: 200px;
        font-family: "Playfair Display", serif;
        text-transform: uppercase;
        padding: 10px;
        margin-top: 50px;
        border: none;
        border-radius: 20px;
    }

    button:hover {
        background-color: #3a506b;
    }

    h1 {
        font-family: "Playfair Display", serif;
        font-size: 80px;
        font-weight: 800;
    }

    h2 {
        font-family: "Playfair Display", serif;
    }

    #navigation {
        background-color: #3a506b;
        text-align: center;
    }

    #navigation a {
        color: white;
        text-decoration: none;
    }
    #button {
        text-align-last: end;
    }

    #experience {
        background-color: #0b132b;
        color: #99b2dd;
        border-bottom: 10px solid #bebfc5;
    }

    #skills {
        background-color: #0b132b;
        color: #99b2dd;
        border-bottom: 10px solid #bebfc5;
    }

    #education {
        background-color: #0b132b;
        color: #99b2dd;
        border-bottom: 10px solid #bebfc5;
    }

    #name {
        padding: 10px;
        margin-top: 50px;
        border: none;
        border-radius: 20px;
    }
}
